<!-- Add ISP Form -->

<div class="container mt-4">
    <div class="row">
        <div *ngIf="displayAddStatus == 'normal'" class="display-status-normal col-12">
            Please fill the form below to add a new ISP in your area.
        </div>
        <div *ngIf="displayAddStatus == 'error'" class="display-status-error col-12">
            Error: Could not add the details to database. if the problem presists,
            please contact me at <a href="mailto:{{contactAuthor}}">{{ contactAuthor }}</a>.
        </div>
        <div *ngIf="displayAddStatus == 'success'" class="display-status-success col-12">
            Success: Internet Service Provider has been added to the database.
        </div>
        <div *ngIf="displayAddStatus == 'progress'" class="display-status-progress col-12">
            Progress: Sending details to the database...
        </div>
    </div>
</div>
<form class="container mt-4" [formGroup]="addProviderForm" (ngSubmit)="addProviderSubmit()">
    <!-- Pincode -->
    <div class="row">
        <div [ngClass]="{
            'd-none': addProviderForm.get('pincode').valid || addProviderForm.get('pincode').untouched,
            'text-danger col-12': true}">
            *Error: A valid pincode is a 5-10 digit number.
        </div>
        <span class="col-sm-12 col-md-6 col-lg-3">
            <label for="postal-code-input">
                Postal Code:
            </label>
        </span>
        <input aria-label="Postal code" id="postal-code-input" placeholder="400001" type="text"
            formControlName="pincode" data-lpignore="true" name="postal-code-input" [ngClass]="{
            'text-danger error-input': addProviderForm.get('pincode').invalid && addProviderForm.get('pincode').touched,
            'add-input-common col-sm-12 col-md-6 col-lg-9': true}">
    </div>

    <!-- Name -->
    <div class="row">
        <div [ngClass]="{
            'd-none': addProviderForm.get('name').valid || addProviderForm.get('name').untouched,
            'text-danger col-12': true}">
            *Error: A value is required.
        </div>
        <span class="col-sm-12 col-md-6 col-lg-3">
            <label for="isp-name-input"> Company Name: </label>
        </span>
        <input data-lpignore="true" name="isp-name-input" aria-label="Internet Provider Name" id="isp-name-input"
            placeholder="Vodafone" type="text" formControlName="name" [ngClass]="{
            'text-danger error-input': addProviderForm.get('name').invalid && addProviderForm.get('name').touched,
            'add-input-common col-sm-12 col-md-6 col-lg-9': true}">
    </div>

    <!-- Contact -->
    <div class="row">
        <span class="col-sm-12 col-md-6 col-lg-3">
            <label for="isp-name-input"> Contact Info: </label>
        </span>
        <input data-lpignore="true" class="add-input-common col-sm-12 col-md-6 col-lg-9" name="isp-contact-input"
            aria-label="Phone / Email" id="isp-contact-input" placeholder="+91-9700501020" type="text"
            formControlName="contact">
    </div>

    <!-- Website -->
    <div class="row">
        <div [ngClass]="{
            'd-none': addProviderForm.get('website').valid || addProviderForm.get('website').untouched,
            'text-danger col-12': true}">
            *This doesn't look like a valid url.
        </div>
        <span class="col-sm-12 col-md-6 col-lg-3">
            <label for="isp-name-input"> Company website: </label>
        </span>
        <input data-lpignore="true" name="isp-website-input" aria-label="Website" id="isp-website-input"
            placeholder="http://www.example.com" type="text" formControlName="website" [ngClass]="{
            'text-danger error-input': addProviderForm.get('website').invalid && addProviderForm.get('website').touched,
            'add-input-common col-sm-12 col-md-6 col-lg-9': true}">
    </div>

    <!-- Submit -->
    <div class="row">
        <div class="mt-2 col-sm-12 col-md-10 col-lg-9">
            <button aria-label="Submit Form" title="Add new ISP" [disabled]="addProviderForm.invalid || disableAddBtn"
                type="submit" id="add-provider-button" class="btn btn-primary"> Add </button>
        </div>
    </div>
</form>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center text-secondary mb-5 mt-5">
            If a provider operates in multiple regions, say an entire city or all
            major cities of a country, it wouldn't be practical to add them one by one for each pincode.
            For such cases, you can drop me a mail at <a href="mailto:{{contactAuthor}}">{{ contactAuthor }}</a>
            with clearly stated list of postal codes where the provider operates and the
            other relevant information of the provider for me to add in the database.
        </div>
    </div>
</div>
