<div class='container mb-5'>
    <div class='row'>
        <div class='offset-lg-1 col-lg-10 col-md-12'>
            <h3 class='mt-5'>About</h3>
            <p>
                This is community project for making a database of internet service provider
                categorized by postal code. The project stems from my personal terrible experience
                of finding local providers, since local providers don't have very big wallets,
                they don't spend on well advertisements, some of them don't even have
                a website and some others just don't appear on search engines. Hence, this database can be
                one-stop-shop for finding all providers operating in an area.
            </p>
            <h4 class='mt-4'>Adding Provider</h4>
            <ul>
                <li>
                    As mentioned before, this is a community project and depends on
                    people adding information in their pincode, if you know a provider
                    in your area, please help others by logging in and adding the information
                    of the provider.
                </li>
                <li>
                    <b>Adding a provider in multiple pincodes:</b>
                    If a provider operates in multiple regions, say an entire city or all
                    major cities of a country, it wouldn't be practical to add them one by one for each pincode.
                    For such cases, you can drop me a mail at <a href="mailto:{{contactAuthor}}">{{ contactAuthor }}</a>
                    with clearly stated list of postal codes where the provider operates and the
                    other relevant information of the provider for me to add in the database.
                    <br>
                    <b>P.S:</b> It may take a while for me to take action, but eventually, I will do it.
                </li>
            </ul>
            <h4 class='mt-4'>Modifying Provider</h4>
            <p>
                If there is some incorrect information about a provider or if you want to report
                a provider that is no longer operating in a region, please drop me a mail at
                <a href="mailto:{{contactAuthor}}">{{ contactAuthor }}</a> and clearly mention
                the name and pincode of the provider.
                <br>
                <b>P.S:</b> It may take a while for me to take action, but eventually, I will do it.
            </p>
            <h4 class='mt-4'>Privacy</h4>
            <ul>
                <li>
                    <b>Guest users: No personal data is collected</b>
                    <br> However right now, I am using Google Analytics to understand the response of the
                    community. If the community likes the website and there are a couple of visitors / day
                    on the website, I will consider this project to be worth my time and drop Google analytics
                    as I don't have anything else to gain from it.
                </li>
                <li>
                    <b>Authenticated Users: Unique ID and email address is collected</b>
                    <br> For users who login, a unique code associated with the account and the email address
                    is retained. This is done to ensure that I can block a spammer filling wrong
                    information in the database.
                </li>
            </ul>
            <h4 class='mt-4'>Bugs & Contributions</h4>
            <p>
                If you've found a bug, please checkout the repository of the project as
                mentioned in the "open-source" section on this page. If an issue for the bug
                doesn't exist already, please open a new ticket.
            </p>
            <p>
                If you want to contribute to the project, please remember I don't want to add
                features that will take a lot of my time for maintenance, let's keep it simple.
                Please open an issue on GitHub to discuss the changes!
            </p>
            <h4 class='mt-4'>Open-Source</h4>
            <p> This is an open-source project, the code can be found on GitHub: </p>
            <ul>
                <li>
                    <a href='https://github.com/atb00ker/angular-isp-finder'> Frontend (Angular) </a>
                </li>
                <li>
                    <a href='https://github.com/atb00ker/firebase-isp-finder'> Backend (Firebase) </a>
                </li>
            </ul>
            <h4 class='mt-4'>License</h4>
            The <a href='https://github.com/atb00ker/angular-isp-finder'> Frontend (Angular) </a>
            and the <a href='https://github.com/atb00ker/firebase-isp-finder'> Backend (Firebase) </a>
            are under <b>MIT License</b>.
            <br>
            The site favicon of the website is contributed by
            <a href='https://commons.wikimedia.org/wiki/File:ALiAS_Logo.png'>@parthsharma2</a> under
            <b>CC BY-SA License</b>.
            <br>
            <!-- TODO: Remove after jquery & bootstrap are removed -->
            License of dependencies like Angular, Bootstrap & jQuery is mentioned in the documentation of
            the dependency itself.
        </div>
    </div>
</div>
