<nav class="navbar navbar-expand-md nav-color navbar-dark">
    <a class="navbar-brand" [routerLink]=[HOME_PATH]>ISP Finder</a>
    <button aria-label="Collapse Navigation Bar" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [attr.id]="collapseEnabled">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapsibleNavbar"
                    [routerLink]=[HOME_PATH]>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapsibleNavbar"
                    [routerLink]=[ABOUT_PATH]>About</a>
            </li>
            <li *ngIf="authenticate.uidAuthUser" class="d-none d-md-flex nav-item">
                <a [routerLink]=[ADD_PROVIDER_PATH]>
                    <button aria-label="Add Provider" type="button" class="btn btn-primary"> Add Provider </button>
                </a>
            </li>
            <li *ngIf="authenticate.uidAuthUser" class="d-block d-md-none nav-item" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <a class="nav-link" [routerLink]=[ADD_PROVIDER_PATH]>Add Provider</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!authenticate.thirdCookiesEnabled && !authenticate.uidAuthUser"
                (click)="authenticate.loginBegin('Google')" data-toggle="collapse" data-target="#collapsibleNavbar"
                title="Please Enable Third-Party Cookies" class="nav-item">
                <a class="disabled nav-link">Login</a>
            </li>
            <li *ngIf="authenticate.thirdCookiesEnabled && !authenticate.uidAuthUser" class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapsibleNavbar"
                    (click)="authenticate.loginBegin('Google')" href="#">Login</a>
            </li>
            <li *ngIf="authenticate.uidAuthUser" class="nav-item d-none d-lg-block">
                <a class="nav-link">Welcome, {{ authenticate.emailAuthUser }}</a>
            </li>
            <li *ngIf="authenticate.uidAuthUser" class="nav-item">
                <a class="nav-link" (click)="authenticate.logoutBegin()" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<iframe src="https://mindmup.github.io/3rdpartycookiecheck/start.html" style="display:none"></iframe>
