<div class="container mt-4">
    <div class="row">
        <form #postalForm="ngForm" id="postal-code-container" (ngSubmit)="postalSearchClick()">
            <span>
                <label for="postal-code-input"> Enter Postal code: </label>
            </span>
            <input name="postal-code-input" aria-label="Postal code" id="postal-code-input"
                placeholder="Valid 5/6 digit code: 400001" type="text" [formControl]="pincode"
                [ngClass]="{'text-danger error-input': pincode.invalid && pincode.touched}">
            <button title="Enter valid pincode to search for ISPs" [disabled]="pincode.invalid" type="submit"
                id="postal-code-button" class="btn btn-primary">
                <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    <path d="M0 0h24v24H0z" fill="none" /></svg>
            </button>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table *ngIf='isplist_data.length > 0' class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ispdetail of isplist_data">
                        <td>{{ ispdetail.name }}</td>
                        <td>{{ ispdetail.contact || '' }}</td>
                        <td *ngIf="!ispdetail.website"></td>
                        <td *ngIf="ispdetail.website">
                            <a class="d-flex" target="_blank" [href]="ispdetail.website">
                                Website
                                <svg aria-hidden="true" class="ml-1 d-none d-md-block"
                                    xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-10 text-secondary">
            Local Internet Service Providers are hard to find but give promising services, this is community project to
            have a database of all the ISPs by postal code, if you want to report a wrong ISP added in your area,
            contact me at <a href="mailto:{{contact_author}}">{{ contact_author }}</a>.
        </div>
    </div>
</div>
